<h2>Por País</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off">
            <input class="form-control" type="text" name="termino" placeholder="Buscar país...">
        </form>
    </div>
</div>
<hr>
<div class="alert alert-danger">
    No se encontro nada con el término ABC
</div>

<div class="row">
    <div class="col">
        <table>
            <thead>
                <tr>
                    <th> # </th>
                    <th> Bandera </th>
                    <th> Nombre </th>
                    <th> Población </th>
                    <th>         </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
